@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%; }

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */ }

/*only available to screen readers*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.flip-container {
  -webkit-perspective: 1000;
          perspective: 1000;
  cursor: pointer; }

.flip-container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg); }

.flip-container:hover .front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.card {
  transition-duration: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative; }

.front, .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition-duration: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 1.8em;
  left: -0.9em; }

.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg); }

.back {
  z-index: 1;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

.submit-btn {
  background-color: #b1040e;
  border: none;
  color: #fff !important;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1.5;
  padding: .33em 1em .38em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  transition: all 0.25s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .submit-btn:hover {
    background-color: #820000; }
  .submit-btn:focus {
    background-color: #820000; }

header {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2; }

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  background: #b1040e;
  width: 100%;
  height: auto;
  float: right;
  padding: 0 4em; }
  @media (max-width: 767px) {
    .nav-top {
      padding: 0 2em 0 1em;
      min-height: 3em; } }
  .nav-top a {
    color: #fff;
    text-decoration: none; }
  .nav-top__logo {
    font-size: 1.5em;
    margin-top: 0.2em;
    float: left; }
  .nav-top__items {
    position: relative;
    width: 63%;
    float: right; }
    @media (min-width: 1280px) {
      .nav-top__items {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 69.49153%;
        float: right;
        width: 59%; }
        .nav-top__items:last-child {
          margin-right: 0; } }
    @media (min-width: 1200px) and (max-width: 1279px) {
      .nav-top__items {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 69.49153%;
        float: right;
        width: 69%; }
        .nav-top__items:last-child {
          margin-right: 0; } }
    @media (max-width: 1199px) {
      .nav-top__items {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 69.49153%;
        float: right;
        width: 70%; }
        .nav-top__items:last-child {
          margin-right: 0; } }
    @media (max-width: 767px) {
      .nav-top__items {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 100%;
        line-height: 1.8em; }
        .nav-top__items:last-child {
          margin-right: 0; } }
  .nav-top__item {
    display: inline-block;
    padding: 0.58em 0.6em;
    overflow: hidden;
    float: left;
    margin-left: 0.3em;
    display: block; }
    @media (max-width: 1199px) {
      .nav-top__item {
        margin-left: 1em;
        padding: .8em .1em; } }
    .nav-top__item:hover {
      background: #820000; }
    .nav-top__item:focus {
      background: #820000; }
    .nav-top__item a {
      font-family: "Open Sans", sans-serif;
      font-size: 1em; }
    .nav-top__item--content {
      display: none;
      position: absolute;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      background: white;
      top: 2.6em;
      margin-left: -0.55em;
      list-style-type: none; }
      .nav-top__item--content a {
        float: none;
        color: #000;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        background: #fff;
        text-transform: uppercase;
        font-size: 0.8em;
        font-family: "Open Sans", sans-serif;
        outline-offset: 4px; }
        .nav-top__item--content a:hover {
          background-color: #b1040e;
          color: #fff; }
  @media (max-width: 1054px) {
    .nav-top__list {
      display: none; } }
  .nav-top__btns {
    float: right;
    margin-left: 2em;
    cursor: pointer;
    /* Rotate first bar */
    /* Fade out the second bar */
    /* Rotate last bar */ }
    @media (max-width: 1054px) {
      .nav-top__btns {
        float: right; } }
    @media (max-width: 767px) {
      .nav-top__btns {
        position: absolute;
        top: -30px;
        right: 0; } }
    .nav-top__btns li {
      list-style: none;
      display: inline; }
    .nav-top__btns .expanded .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px); }
    .nav-top__btns .expanded .bar2 {
      opacity: 0; }
    .nav-top__btns .expanded .bar3 {
      -webkit-transform: rotate(45deg) translate(-9px, -7px);
      transform: rotate(45deg) translate(-9px, -7px); }
  .nav-top__menu-btn {
    position: relative;
    top: -0.5em;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: inline-box;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 7em;
    height: 2.5em;
    padding: 0 1em;
    line-height: 2.4em; }
    .nav-top__menu-btn__icon {
      float: right;
      -webkit-transform: scale(0.6);
              transform: scale(0.6);
      position: relative;
      top: 0.2em;
      left: 1em; }
      .nav-top__menu-btn__icon:focus {
        background: #820000; }
      .nav-top__menu-btn__icon > div {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s; }
  .nav-top__search-btn {
    padding: 0.55em 1em;
    width: 2.6em;
    position: relative;
    vertical-align: middle;
    box-shadow: none;
    outline-offset: -4px;
    transition: none; }
    .nav-top__search-btn:hover {
      background-color: #820000; }
    .nav-top__search-btn:focus {
      background-color: #820000; }
    .nav-top__search-btn i {
      margin-right: 1em; }

.nav-side__items {
  position: fixed;
  top: 0em;
  right: 0em;
  width: 0;
  height: 100%;
  z-index: -1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 0 3px 3px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 4em; }
.nav-side__item {
  list-style: none;
  margin: 0;
  min-width: 200px;
  position: relative; }
  .nav-side__item > a {
    padding: 1em;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    color: #000;
    position: relative;
    transition: color 0.3s ease-in;
    display: block; }
    .nav-side__item > a:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #b1040e;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      transition: all 0.15s ease-in;
      z-index: 1; }
    .nav-side__item > a:hover {
      color: #b1040e; }
    .nav-side__item > a:hover:after {
      visibility: visible;
      -webkit-transform: scale(1);
      transform: scale(1);
      transition: all 0.25s ease-out; }
    .nav-side__item > a:focus {
      color: #b1040e; }
    .nav-side__item > a:focus:after {
      visibility: visible;
      -webkit-transform: scale(1);
      transform: scale(1);
      transition: all 0.25s ease-out; }
  .nav-side__item--content {
    display: none;
    position: relative;
    top: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: white;
    margin-left: -0.55em; }
    .nav-side__item--content a {
      float: none;
      color: #000;
      padding: 12px 32px;
      text-decoration: none;
      display: block;
      text-align: right;
      background: #fff;
      text-transform: uppercase;
      font-size: 0.8em;
      font-family: "Open Sans", sans-serif;
      outline-offset: -4px; }
      .nav-side__item--content a:hover {
        background-color: #b1040e;
        color: #fff; }
  .nav-side__item:hover .nav-side__item--content {
    display: block; }
  .nav-side__item:focus .nav-side__item--content {
    display: block; }

#main {
  transition: margin-right 0.5s; }

.width-200 {
  width: 200px; }

.margin-r-200 {
  margin-right: 200px; }
  @media (max-width: 1199px) {
    .margin-r-200 {
      margin-right: 0; } }

/*full screen video*/
.fullscreen-bg {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
  max-height: 500px;
  display: block; }
  @media (max-width: 767px) {
    .fullscreen-bg {
      overflow: visible;
      display: none; } }
  .fullscreen-bg__video {
    position: relative;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    vertical-align: baseline;
    display: inline-block;
    top: 0; }
    .fullscreen-bg__video[poster] {
      -o-object-fit: cover;
         object-fit: cover;
      top: -5em;
      -webkit-transform: none;
      transform: none; }
      @media (max-width: 1054px) {
        .fullscreen-bg__video[poster] {
          overflow: visible;
          top: 0; } }
  .fullscreen-bg__title {
    color: #fff;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    font-size: 5em; }
    .fullscreen-bg__title--wordmark, .fullscreen-bg__title--sub {
      transition: font-size 0.5s ease;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      top: 40%;
      left: 50%;
      width: auto;
      height: auto;
      margin-left: 0;
      display: block;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      padding: 0;
      margin-left: 0; }
      @media (max-width: 767px) {
        .fullscreen-bg__title--wordmark, .fullscreen-bg__title--sub {
          position: absolute;
          top: 70%;
          left: 50%; } }
    .fullscreen-bg__title--sub {
      position: relative;
      top: 1em;
      text-align: center;
      font-size: 0.3em; }
  .fullscreen-bg__playPause {
    width: 3em;
    height: 3em;
    margin: 0;
    float: left;
    position: absolute;
    bottom: 45px;
    left: 40px;
    cursor: pointer;
    border: none;
    background-color: #b1040e;
    border-radius: 2em;
    font-size: 1em;
    color: transparent;
    display: block; }
    @media (max-width: 767px) {
      .fullscreen-bg__playPause {
        display: none; } }
    .fullscreen-bg__playPause i {
      background: #b1040e; }
      .fullscreen-bg__playPause i:before {
        color: #fff; }

.panel {
  padding: 2em 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .panel header {
    margin: auto;
    width: 100%;
    padding: 2em 0 3em 0;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    box-direction: normal;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    text-align: center;
    z-index: 0; }
    .panel header h2 {
      font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
      font-size: 3em;
      font-weight: bold; }
    .panel header p {
      margin-top: .33em;
      font-size: 1.5em;
      font-family: "Open Sans", sans-serif; }
  .panel--vanilla {
    background-color: #f9f6ef; }
  .panel--choco {
    background-color: #2f2424; }
    .panel--choco h2, .panel--choco header p {
      color: #f9f6ef; }

.footer-section {
  width: 100%;
  min-height: 15em;
  background: #f9f6ef;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .footer-section p {
    margin: auto;
    color: #820000; }

.news-section__spotlight {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 89.83051%;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  position: relative;
  overflow: hidden; }
  .news-section__spotlight:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .news-section__spotlight {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 125.53191%;
      margin-right: 0;
      -webkit-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      box-direction: normal;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column; }
      .news-section__spotlight:last-child {
        margin-right: 0; } }
.news-section__img {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 49.15254%;
  margin-right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -o-object-fit: cover;
     object-fit: cover; }
  .news-section__img:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .news-section__img {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 125.53191%; }
      .news-section__img:last-child {
        margin-right: 0; } }
.news-section__description {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-family: "Open Sans", sans-serif;
  padding: 2em;
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 100%;
  -ms-flex-preferred-size: 52%;
      flex-basis: 52%; }
  .news-section__description:last-child {
    margin-right: 0; }
  .news-section__description h3 {
    margin-top: 1em; }
  .news-section__description h4, .news-section__description .post-meta a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    color: #820000; }
  .news-section__description p {
    margin-top: 1.5em; }
  .news-section__description a {
    margin-top: 2em;
    text-decoration: none;
    color: #000; }
    .news-section__description a:hover {
      color: #00548f; }
.news-section__other {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 89.83051%;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  position: relative;
  overflow: hidden;
  margin: 2em auto 0 auto; }
  .news-section__other::after {
    clear: both;
    content: "";
    display: block; }
  .news-section__other:last-child {
    margin-right: 0; }
  .news-section__other__col--6 {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 49.15254%; }
    .news-section__other__col--6:last-child {
      margin-right: 0; }
    @media (max-width: 767px) {
      .news-section__other__col--6 {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 100%; }
        .news-section__other__col--6:last-child {
          margin-right: 0; } }
    @media (max-width: 479px) {
      .news-section__other__col--6 {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 100%; }
        .news-section__other__col--6:last-child {
          margin-right: 0; } }
  .news-section__other__each {
    overflow: hidden;
    margin: 2em 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    transition: all 1s; }
    @media (max-width: 1054px) {
      .news-section__other__each {
        -webkit-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        box-direction: normal;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column; } }
    @media (max-width: 479px) {
      .news-section__other__each {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 100%;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        box-direction: normal;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column; }
        .news-section__other__each:last-child {
          margin-right: 0; } }
  .news-section__other img {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 59.32203%;
    margin-right: 0;
    -o-object-fit: cover;
       object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    max-height: 185px;
    transition: all .3s ease-in; }
    .news-section__other img:last-child {
      margin-right: 0; }
    @media (max-width: 1054px) {
      .news-section__other img {
        display: none; } }
    @media (max-width: 479px) {
      .news-section__other img {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 100%; }
        .news-section__other img:last-child {
          margin-right: 0; } }
    .news-section__other img:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
  .news-section__other__description {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-family: "Open Sans", sans-serif;
    padding: 1em;
    z-index: 1;
    font-size: 0.9em; }
    .news-section__other__description:last-child {
      margin-right: 0; }
    .news-section__other__description h3 {
      margin-top: 1em; }
    .news-section__other__description h4, .news-section__other__description .post-meta a {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.2em;
      color: #820000; }
    .news-section__other__description p {
      margin-top: 1.5em; }
    .news-section__other__description a {
      text-decoration: none;
      color: #000; }
      .news-section__other__description a:hover {
        color: #00548f; }
.news-section__readMore {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  margin-top: 3em; }
  .news-section__readMore a {
    margin: auto;
    padding: 0.5em 4em;
    font-size: 1.1em; }

.events-section__spotlight {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 89.83051%;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  position: relative;
  height: 20em;
  overflow: hidden; }
  .events-section__spotlight:last-child {
    margin-right: 0; }
  @media (max-width: 1054px) {
    .events-section__spotlight {
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 89.83051%;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-direction: normal;
      box-direction: normal;
      -moz-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row;
      height: auto;
      margin: auto; }
      .events-section__spotlight:last-child {
        margin-right: 0; } }
.events-section__date {
  position: absolute;
  top: 1em;
  right: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  align-content: center;
  -ms-flex-line-pack: center;
  width: 4em;
  height: 5em;
  background: #2f2424;
  color: #f9f6ef; }
  .events-section__date .month, .events-section__date .time {
    display: block;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 0;
    width: 100%;
    text-align: center; }
  .events-section__date .day, .events-section__date .meridiem {
    display: block;
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 0;
    width: 100%;
    text-align: center; }
  .events-section__date--interactive {
    position: absolute;
    top: -0.5em;
    left: 2em; }
.events-section__img {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 100%;
  margin-right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -o-object-fit: cover;
     object-fit: cover; }
  .events-section__img:last-child {
    margin-right: 0; }
  @media (max-width: 767px) {
    .events-section__img {
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 38.98305%;
      margin-right: 0; }
      .events-section__img:last-child {
        margin-right: 0; } }
  @media (max-width: 479px) {
    .events-section__img {
      display: none; } }
.events-section__description {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-family: "Open Sans", sans-serif;
  padding: 2em 6em 2em 2em;
  position: relative;
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
  .events-section__description:last-child {
    margin-right: 0; }
  .events-section__description h3 {
    margin-top: 1em; }
  .events-section__description h4, .events-section__description .post-meta a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    color: #820000; }
  .events-section__description p {
    margin-top: 1.5em; }
  .events-section__description a {
    margin-top: 2em;
    text-decoration: none;
    color: #000; }
    .events-section__description a:hover {
      color: #00548f; }
.events-section__other {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 89.83051%;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  position: relative;
  overflow: hidden;
  margin: 2em auto 0 auto; }
  .events-section__other::after {
    clear: both;
    content: "";
    display: block; }
  .events-section__other:last-child {
    margin-right: 0; }
  .events-section__other__col--6 {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 49.15254%; }
    .events-section__other__col--6:last-child {
      margin-right: 0; }
    @media (max-width: 767px) {
      .events-section__other__col--6 {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 100%; }
        .events-section__other__col--6:last-child {
          margin-right: 0; } }
  .events-section__other__each {
    overflow: hidden;
    margin: 2em 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 479px) {
      .events-section__other__each {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 100%;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        box-direction: normal;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column; }
        .events-section__other__each:last-child {
          margin-right: 0; } }
  .events-section__other img {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 49.15254%;
    margin-right: 0;
    -o-object-fit: cover;
       object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    max-height: 185px;
    transition: all .3s ease-in; }
    .events-section__other img:last-child {
      margin-right: 0; }
    @media (max-width: 1054px) {
      .events-section__other img {
        display: none; } }
    @media (max-width: 479px) {
      .events-section__other img {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 100%;
        display: none; }
        .events-section__other img:last-child {
          margin-right: 0; } }
    .events-section__other img:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
  .events-section__other__description {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-family: "Open Sans", sans-serif;
    padding: 1em 5em 1em 1em;
    font-size: 0.9em;
    position: relative;
    min-height: 8em; }
    .events-section__other__description:last-child {
      margin-right: 0; }
    .events-section__other__description h3 {
      margin-top: 1em; }
    .events-section__other__description h4, .events-section__other__description .post-meta a {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.2em;
      color: #820000; }
    .events-section__other__description p {
      margin-top: 0.7em; }
      @media (max-width: 1054px) {
        .events-section__other__description p {
          display: none; } }
    .events-section__other__description a {
      text-decoration: none;
      color: #000; }
      .events-section__other__description a:hover {
        color: #00548f; }
.events-section__readMore {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  margin-top: 3em; }
  .events-section__readMore a {
    margin: auto;
    padding: 0.5em 4em;
    font-size: 1.1em; }
