$font-default:'Open Sans', sans-serif;
$nav-font:'Open Sans', sans-serif;
$nav-font-size: 1em;
$nav-side-font-size:1.1em;
$nav-dropdown-font-size:0.8em;
$section-header-font-size:3em;
$news-other-font-size: 0.9em;
