// Variables
$nav-txt-color: $white;
$nav-side-bg: $white;
$title-color: $black;
$link-hover : $blue;
$news-title-color:$red-hover;

$xsmall : 320px;
$small : 480px;
$medium : 768px;
$large : 1055px;
$xlarge : 1200px;
$xxlarge : 1280px;
