
/*full screen video*/
.fullscreen-bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position:relative;
    z-index: 1;
    max-height: 500px;
    display:block;
    @include breakpoint(sm){
      overflow:visible;
      display:none;
    }
  &__video {
    position:relative;
    @include wh;
    object-fit: contain;
    vertical-align: baseline;
    display: inline-block;
    top: 0;
    &[poster]{
        object-fit: cover;
        top: -5em;
        @include transform(none);
        @include breakpoint(md){
          overflow:visible;
          top:0;
        }
      }
  }
  &__title{
    color: #fff;
    text-shadow: 0 0 30px rgba(0,0,0,.7);
    font-size: 5em;
      &--wordmark{
        @include transition(font-size .5s ease);
        @include transform(translate(-50%,-50%));
        @include position(absolute, 40% null null 50%);
        @include breakpoint(sm){
          @include position(absolute, 70% null null 50%);
        }
        @include wh(auto,auto);
        margin-left: 0;
        display: block;
        backface-visibility: hidden;
        padding: 0;
        margin-left: 0;
      }
      &--sub{
        @extend .fullscreen-bg__title--wordmark;
        @include position(relative, 1em null null null);
        text-align: center;
        font-size: 0.3em;
      }
  }
  &__playPause{
    @include wh(3em,3em);
    margin: 0;
    float: left;
    @include position(absolute, null null 45px 40px);
    cursor: pointer;
    border: none;
    background-color: $red;
    border-radius: 2em;
    font-size: 1em;
    color: transparent;
    display: block;
    @include breakpoint(sm){
      display:none;
    }
    i {
      background:$red;
      &:before{
        color:$white;
      }
    }
  }
}
